.createProject input
    display: flex
    align-items: baseline
    justify-content: center
    margin: 10px
    font-size: clamp(10px,17px,25px)

.createProject_div  
    display: inline-block
    padding: 5%
