*
    margin: auto
    padding: auto
    box-sizing: border-box

.createProject input
    display: flex
    align-items: baseline
    justify-content: center
    margin: 10px
    font-size: clamp(10px,17px,25px)


.modalWindow
    width: clamp(300px,30%,50%)
  
    border: dashed 1px black
    display: flex
    justify-self: center
    margin-top: 10%
    padding: 5%

@mixin button
    padding:5%
