.menu
    padding: 1%
    display: flex
    justify-content: start
    align-content: center

.menu_nav 
    display: inline-block
    text-decoration: none
    text-shadow:1px 1px 1px white,1px -1px 1px white,-1px 1px 1px white,-1px -1px 1px white
    color: steelblue
    transition: all 1s

.menu_nav:after 
    content: ""
    display: block
    position: relative
    z-index: -1
    width: 100%
    margin: auto
    border-bottom: 3px solid steelblue
    bottom: .15em
    transition: all 1s

.menu_nav:hover:after 
    width: 0%
    border-bottom-width: 3px
